# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
.@__*
Thumbs.db

#  #
#####
.AppleDouble/
.DS_Store
.DocumentRevisions-V100/
.LSOverride
.Spotlight-V100/
.TemporaryItems/
.Trashes/
._*
.fseventsd/
.localized
Icon?
