<?xml version=<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>mount_DriveOne</string>
  <key>ProgramArguments</key>
  <array>
		  <string>/Users/lup/bin/mount_DriveOne.sh</string>
  </array>
  <key>RunAtLoad</key>
  <true/> <!-- run at login -->
  <key>OnDemand</key>
  <true/>
</dict>
</plist>